.selected-product img{
   width: 100px;

}
.details{
    height: 80px;
    padding-top: 20px;
    margin-bottom: 60px;
}
.selected-product{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.btn-choose{
    margin-top: 50px;
    margin-right: 50px;
}
.btn-again{
    margin-right: 70px;
    margin-top: 10px;
}
