.products-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.clothes-container{
    
    background-color:  rgb(129, 120, 120);
}
.btn{
    display: flex;
}
   
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border: 2px solid aquamarine;
    background-color:cadetblue;
    padding: 10px;
}


@media only screen and (max-width: 600px) {
    .product{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 45px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 30px;
        border: 2px solid aquamarine;
        background-color:cadetblue;
        width: 100%;
    }
    .products-container{
        display: grid;
        grid-template-columns: 1fr ;
        
    }
    .clothes-container{
        width: 100%;
      
    }
    .question{
        width: 100%;
    }
}
